eureka:
  client:
    serviceUrl:
      defaultZone: http://localhost:8881/eureka/



gateway.ip: '127.0.0.1'

# 3600000 = 1 hour - 86,400,000 = 1 day
security:
  token:
    expiration: 86400000
    prefix: 'Bearer'
    secret-key: 'mamaH@yat-1957,;B@ba1951++iMMa1980*-z@K84Hich#@89^{abD$AmIN%Yous'
    header-string: 'Authorization'
  role:
    prefix: 'ROLE_'


